body, h1, h2, p {
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    z-index: 1; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    min-height: 100vh;
}

@font-face {
    font-family: 'CustomFont';
    src: url('font.ttf') format('truetype');
}

body, h1, h2, p {
    font-family: 'CustomFont', Arial, sans-serif;
}

header {
    text-align: center;
    padding: 20px;
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px;
    display: inline; 
    padding: 5px 10px; 
    border-radius: 10px; 
    margin-bottom: 20px; 
}

header h1 {
    font-size: 40px; 
    color: #eee;
    background-color: transparent; 
}

main {
    text-align: center;
    padding: 20px;
}

.birthday-card {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 20px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    margin: 10px; 
}

.birthday-card img {
    max-width: 100%; 
    width: 150px; 
    height: auto; 
}

h2 {
    font-size: 26px; 
    color: #ccc; 
    margin-bottom: 10px;
}

p {
    font-size: 20px; 
    color: #ddd; 
    margin-bottom: 10px;
}

.love-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.love-section p {
    font-size: 20px;
    color: #ddd;
    margin: 0;
    padding: 0;
}

/* Style the footer */
footer {
    text-align: center;
    padding: 10px;
    margin-top: 10px;
}

footer p {
    font-size: 20px;
    color: #ddd; 
    margin-bottom: 0;
}

.scrolling-image-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100vh; 
    z-index: 0; 
    overflow: hidden;
}

.scrolling-image {
    background: url("./background-image.jpg") repeat-x;
    background-size: contain;
    height: 100%;
    width: 7680px;
    animation: scrollBackground 300s linear infinite;
}

@keyframes scrollBackground {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}
